* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  width: 300px;
  height: 200px;
  background: rgb(117, 166, 230);
  border-radius: 1rem;
}

.sbigball {
  margin-top: 1rem;
}

.bigball {
  text-align: center;
  font-size: 50px;
}

.sball {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.ball {
  font-size: 30px;
  padding: 0.6rem;
}

.srateus {
  text-align: center;
}
